/* Fuente y ajustes del Body */
* {
    font-family: "Fira Code", monospace;
}
body {
    margin: 0;
    padding: 0;
    background: url(./images/Backgrounds/blue.png) repeat;
    overflow: hidden;
    /* Para poder mover correctamente a los enemigos */
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* CSS Naves */
#naveJugador {
    position: fixed;
    bottom: 30px;
    width: 100px;
}
.misiles {
    position: absolute;
    width: 10px;
}

#lienzo {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.naveEnemiga {
    width: 100px;
    position: fixed;
    display: block;
}
.boom {
    width: 100px;
    position: fixed;
    display: block;
}

/* CSS Ventana modal*/
dialog {
    z-index: 1;
    text-align: center;
    color: white;
    background-color: rgb(19, 19, 19);
    border-radius: 5px;
    border: solid 1px grey;
    position: absolute;
    top: 2%;
}

.sub {
    text-decoration: underline 2px rgb(57, 81, 189);
}

input {
    margin-bottom: 20px;
    border-radius: 1px;
    border: none;
    outline: none;
    text-align: center;
}

#easy + label {
    transition: 500ms;
}
#easy:hover + label {
    color: rgb(51, 255, 0);
    transition: 500ms;
}
#easy:checked + label {
    text-decoration: rgb(51, 255, 0) 2px;
}

#normal + label {
    transition: 500ms;
}
#normal:hover + label {
    color: yellow;
    transition: 500ms;
}
#normal:checked + label {
    text-decoration: underline yellow 2px;
}

#dificil + label {
    transition: 500ms;
}
#dificil:hover + label {
    color: red;
    transition: 500ms;
}
#dificil:checked + label {
    text-decoration: underline red 2px;
}

.izquierda {
    float: left;
}
.derecha {
    float: right;
}

.puntuacionFinal {
    color: cyan;
}