/* Fuente y ajustes del Body */
* {
    font-family: "Fira Code", monospace;
}
body {
    margin: 0;
    padding: 0;
    background: url(./images/Backgrounds/background.png) no-repeat;
    background-size: cover;
    overflow: hidden;
    /* Para poder mover correctamente a los enemigos */
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* CSS Naves */
#naveJugador {
    position: fixed;
    bottom: 30px;
    width: 10%;
    z-index: 1;
}
.misiles {
    position: absolute;
    width: 4%;
}

#lienzo {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.naveEnemiga {
    width: 7%;
    position: fixed;
    display: block;
    z-index: 1;
}
.boom {
    width: 7%;
    position: fixed;
    display: block;
}
.propulsor {
    position: absolute;
    width: 1.5%;
    z-index: 0;
}

/* CSS Ventana modal*/
dialog {
    z-index: 1;
    text-align: center;
    color: white;
    background: #0e1111;
    border-radius: 5px;
    border: solid 1px grey;
    position: absolute;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.sub {
    text-decoration: underline 2px #429DE5;
}

input {
    margin-bottom: 20px;
    border-radius: 1px;
    border: none;
    outline: none;
    text-align: center;
}

#easy + label {
    transition: 500ms;
}
#easy:hover + label {
    color: rgb(51, 255, 0);
    transition: 500ms;
}
#easy:checked + label {
    text-decoration: underline rgb(51, 255, 0) 2px;
}

#normal + label {
    transition: 500ms;
}
#normal:hover + label {
    color: yellow;
    transition: 500ms;
}
#normal:checked + label {
    text-decoration: underline yellow 2px;
}

#dificil + label {
    transition: 500ms;
}
#dificil:hover + label {
    color: red;
    transition: 500ms;
}
#dificil:checked + label {
    text-decoration: underline red 2px;
}

.izquierda {
    float: left;
}
.derecha {
    float: right;
}

.puntuacionFinal {
    color: cyan;
}

#info {
    color: red;
}